@import "bootstrap-sprockets";
@import "bootstrap";
/*
 *= require_tree .
 *= require_self
 */
@import url(https://fonts.googleapis.com/css?family=Lato);

html, body {
  font-family: Lato;
  background-image: url('CB.gif');
}

li {
  list-style: none;
  padding-bottom: 15px;
}

.notice_message {
  border: ridge;
  border-color: rgba(112, 81, 44, 0.9);
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 900px;
  color: black;
  display: inline-block;
  margin: 0 auto;
}

.notice_message:hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.notice_message:hover, .notice_message:focus, .notice_message:active {
  box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.9);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

a {
  color: white;
}

form label {
  width: 170px;
  text-align: left;
  display: inline-block;
}

.back_cont {
  margin: 0 auto;
  max-width: 960px;
  background-color: rgba(112, 81, 44, 0.4);
  text-align: center;
}

nav {
  box-shadow: 0px 0px 15px black;
}

.new_notice {
  max-width: 170px;
  margin: 0 auto;
  display: inline-block;
  text-align: left;
}

#disqus_thread {
  border: ridge;
  border-color: rgba(112, 81, 44, 0.9);
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 900px;
  color: black;
  margin-left: 25px;
}

#dsq-2 {
  margin-left: 10px;
  margin-right: 10px;
  max-width: 90%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.navbar-default {
  background-color: rgba(112, 81, 44, 0.8);
  border-color: #544545;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  margin-left: 100px;
}

img {
  max-width: 90%;
}



