/*
 *= require_tree .
 *= require_self
 */
@import url(http://fonts.googleapis.com/css?family=Lato);
html {
  font-family: Lato;
  background-image: url('CB.gif');
}

nav li {
  display: inline;
  padding-right: 10px;

}

li {
  list-style: none;
  padding-bottom: 15px;
}

.notice_message {
  border: double;
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 600px;
  color: black;

}
nav a {
   margin-left: 30px;
   margin-right: 30px;
}
a {
  color: white;
}

form label {
  width: 170px;
  text-align: left;
  display: inline-block;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  text-align: center;
  background-color: rgba(112, 81, 44, 0.4);
}

nav {
  max-width: 960px;
  box-shadow: 0px 0px 15px black;
  margin: 0 auto;
  background-color: rgba(112, 81, 44, 0.8);
  height: 2em;
}

.new_notice {
  max-width: 170px;
  margin: 0 auto;
  display: inline-block;
  text-align: left;
}