@import "bootstrap-sprockets";
@import "bootstrap";
/*
 *= require_tree .
 *= require_self
 */
@import url(https://fonts.googleapis.com/css?family=Lato);

html, body {
  font-family: Lato;
  background-image: url('CB.gif');
}

li {
  list-style: none;
  padding-bottom: 15px;
}

.notice_message {
  border: double;
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 900px;
  color: black;
  display: inline-block;
  margin: 0 auto;
}

a {
  color: white;
}

form label {
  width: 170px;
  text-align: left;
  display: inline-block;
}

.back_cont {
  margin: 0 auto;
  max-width: 960px;
  background-color: rgba(112, 81, 44, 0.4);
  text-align: center;
}

nav {
  box-shadow: 0px 0px 15px black;

}

.new_notice {
  max-width: 170px;
  margin: 0 auto;
  display: inline-block;
  text-align: left;
}

#disqus_thread {
  border: double;
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 900px;
  color: black;
  margin-left: 25px;
}

#dsq-2 {
  margin-left: 10px;
  margin-right: 10px;
  max-width: 90%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.container-fluid {
  background-color: rgba(112, 81, 44, 0.8);
  
}
.navbar-default {
  background-color: #664C4C;
  border-color: #544545;
  color: #FFF;
}

nav li a {
  color: #FFF;
}